div.simucontainer {
    position: absolute;
    top: 10px;
    //max-width: 200px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.6em .6em .6em .6em;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    >h3 {
        border-bottom: 1px solid gainsboro;
    }

    p {
        margin: 0
    }

    #header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: flex-end;
        min-width: 228px;

        h3 {
            flex: 3;
            min-width: 3em;
            margin: .2em;
        }

        .switch {
            display: flex;
            justify-content: center;


            .icon {
                justify-self: center;
                align-self: center;
            }

            flex: 1;
        }
    }

    #navTab {
        list-style: none;
        margin: 0px;
        padding: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1em;
        margin-bottom: 1em;

        .tab {
            list-style: none;
            text-align: center;
            display: relative;

            &.active {
                color: #EEE;
            }

            &.inactive {
                border-bottom: 1px solid rgb(173, 171, 171);
                background-color: #333;
            }

            color: #CCC;
            cursor: pointer;
            padding: 0em 2em;
            font-size: 1em;

            border: {
                top: {
                    left-radius: .5em;
                    right-radius: .5em;
                }
            }

            // box-shadow: 0px -2px 5px 1px rgb(61, 61, 61);
            border-top: 1px solid #333;
            border-left: 1px solid #333;
            border-right: 1px solid #333;


            &:hover {
                //
            }
        }

    }

    #animationPlayer {
        color: white;
        // background: rgba(0, 0, 0, 0.6);
        // border-radius: 25px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px 0px 1em 0em;
        text-align: left;

        >p {
            margin: 1em 1.2em 0 1.2em;
            border-bottom: 1px solid gainsboro;
        }
    }

    #tripContainer {
        // color: white;
        // background: rgba(0, 0, 0, 0.6);
        // border-radius: 25px;
        font-size: 10px;
        display: flex;
        flex-direction: row;
        // justify-content: space-evenly;
        margin: 0 0 0 0;
        //border-bottom: 1px solid gray;

        .defultbtn {
            display: inline-block;
            text-align: center;
            min-width: 50px;
            height: 20px;
            border-radius: 30px;
            border: 1px solid rgba(0, 0, 0, 0.6);
            background-color: rgba(0, 0, 0, 0.6);
            color: #CCC;
            cursor: pointer;
            margin: 0em 1em;
            flex: 1;
        }

        .checkbox {
            display: inline-block;
            //border: 1px solid #C9C9C9;
            border: 1px solid rgba(0, 0, 0, 0.6);
            background-color: rgba(0, 0, 0, 0.6);
            color: #CCC;
            cursor: pointer;
            margin: 0em 0em 0em 1em;
            flex: 1;
        }
    }

    #legendContainer {
        color: white;
        // background: rgba(0, 0, 0, 0.6);
        // border-radius: 25px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        text-align: left;

        >p {
            margin: 1em 1.2em 0 1.2em;
            border-bottom: 1px solid gainsboro;
        }

        div.legend {
            display: flex;
            align-items: center;
            margin: 0 1.2em;
            padding: 0.1em;

            div.rectangle {
                padding: 5px;
                margin-right: 3px;
            }
        }

        div.legend:nth-last-child(1) {
            margin-bottom: 1.2em;
        }
    }

}